.navBar {
  display: flex;
  align-items: center;
  background:  #737373;
  font-size: 16px;
  padding: 0.2em 0.4em;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  color: #fff;
  justify-content: space-between;
}

.statusBar {
  margin-left: auto;
  padding: 0.2em 1em;
  background: linear-gradient(90deg, #a3a3a3 0%, #737373 100%);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  color: #fff;
  font-weight: 500;
}

.main {
  display: flex;
  flex-flow: row;
  height: calc(100vh - 100px);
  color: white;
  margin-top: 70px;
}

.views-container { 
  background-color: #494949;
  display: flex;
  flex-direction: column;
  flex: 5;
  height: 100%;
  overflow: hidden;
}

.tab-views {
  flex: 1;
  overflow: hidden;
}
